li {
  display: grid;
  grid-template-columns: 0 1fr;
  grid-gap: 1.75em;
  align-items: start;
  margin-bottom: 1rem;
}

ul li::before {
  content: "";
  background-image: url("svg/virus-line.svg");
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  margin-top: 3px;
  background-size: contain;
}

.chq-atc--button {
  color: currentColor;
  font-weight: inherit;
  padding-right: 0px;
  padding-left: 0px;
  display: inline-block;
}

.chq-atc--button:hover,
.chq-atc--button:active {
  text-decoration: underline;
}

.chq-atc--button path {
  fill: rgba(185, 28, 28, 1);
}
